/*FUENTES*/
@font-face{
    font-family: "fajala";
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none;
}

.clearfix{
    clear: both;
    float: none;
}

body{
    background: white; /*url(../img/nebula.jpg)*/
}

.alerta{
    padding: 5px;
    font-size: 14px;
    color: white;
    background: green;
    box-shadow: 0px 1px 3px #ccc;
    margin-bottom: 15px;
    border-radius: 2px;
}

.alerta-error{
    background: red;
}

.fecha{
    color: #4e4e4e;
    margin-top:5px;
    font-size: 14px;
}

/*CABECERA*/
#cabecera{
    width: auto;
    height: auto;
    background: transparent;
    margin: 3px;
    /*border: 1px solid black;*/
}

/*LOGO*/
#logo{
    float: left;
    width: 72%;
    height: auto;
    padding-top: 10px;
    padding-right: 2px;
    padding-bottom: 10px;
    padding-left: 12px;
    
}

/*#logo a{
    font-family: "fajala", Helvetica;
    font-size: 40px;
    letter-spacing: 2px;
    color: #2979CD;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
    transition: all 500ms;
    line-height: 90px;
    margin-left: 10px;
}*/

/*EVENTO DEL LOGO*/
#logo a:hover{
    cursor: pointer;
    /*text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;*/
    /*icon: url(/assets/img/company.jpeg);*/
}
/*#logo a img:hover{
    icon: url(/assets/img/company.jpeg);
    width: 150px;
    height: 85px;
}*/

/*REGISTRO Y LOGIN*/
.logueo{
    float: left;
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 18px;
    padding-right: 35px;
    padding-bottom: 21px;
    padding-left: 36px;
}

.logueo:hover{
    font-size: 17px; /* large */
    color: #3c95d4;
}

.logueo:active{
    font-size: 15px; /* medium */
    color: black;
}

/*BARRA DE BÚSQUEDA*/
#divBusqueda{
    float: left;
    width: auto;
    height: auto;
    text-align: center;
    padding: 47px 22px 45px 22px;
}

#formBusqueda{
    width: auto;
    height: auto;
    text-align: center;
}

#lupa{
    width: 36px;
    height: 34px;
    background: url(../img/lupa.png);
    background-size: 100% 100%;
    cursor: pointer;
    border: 0px solid;
}

#barra{
    width: 264px;
    height: 28px;
    border-radius: 3px;
    /*text-align: center;*/
}

/*#barra:active{
    text-align: left;
}*/

/*LINEA DE SEPARACIÓN*/
#lineaDivision{
    clear: both;
    width: auto;
    height: 4px;
    background: black;
}

/*DISEÑO DE BIENVENIDA Y ANUNCIO*/
#bienvenida{
    clear: both;
    float: left;
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 35px;
}

#anuncio{
    float: left;
    width: auto;
    height: auto;
    padding-left: 45px;
    padding-right: 15px;
}

/*MENU*/
#menu{
    clear: both;
    width: 100%;
    height: 44px;
    /*background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);*/
    border-top: 1px solid black; /* #C9C9C9 */
    border-bottom: 1px solid black;
    /*border-radius: 8px;*/
    /*box-shadow: 0px 1px 1px #ccc;*/
    overflow: hidden;
    text-align: center;
}

#menu ul{
    list-style: none;
    text-align: center;
    position: relative;
    display: inline-block;
    text-transform: uppercase; /*TEXTO EN MAYÚSCULAS*/
}

#menu ul li{
    float: left;
    line-height: 44px;
    /*border-right: 1px solid #D6D6D6;*/
}

#menu ul li a{
    display: block;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 18px;
    color: #3e3e3e;
}

#menu ul li a:hover{
    background: linear-gradient(to bottom, #edf8fc 0px, #6edbff 100%);
    color: white;
}

/*CONTENIDO*/
#contenedor{
    width: auto;
    height: auto;
    /*min-height: 600px;*/
    /*margin: 0px auto;*/
    margin: 25px 38px 23px 38px;
}

/*BARRA LATERAL*/
#sidebar{
    float:right;
    width: 27%;
    height: auto;
}

.bloque{
    display:block;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 35px;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 0px 1px #FFFFFF inset, 0px -3px 2px rgba(0,0,0,0.25) inset;
    border-radius: 5px;
}

.bloque h3{
    margin-bottom: 15px;
}

label,
/*input[type="text"],*/
input[type="email"],
input[type="password"]{
    display: block;
    width: 95%;
    margin-top:2px;
    margin-bottom: 2px;
}

/*input[type="text"],*/
input[type="email"],
input[type="password"]{
    padding: 5px;
    margin-bottom: 10px;
}

/*input[type="button"],
input[type="submit"],
.boton{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 3px;
    color: white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor: pointer;
    padding: 7px;
}*/

.boton{
    color:white !important;
    text-align: center;
    width: 130px;
}

.boton-naranja{
    background: orange;
    border-color: #bd7d08;
}

.boton-verde{
    background: #21b921;
    border-color: green;
}

.boton-rojo{
    background: red;
    border-color: brown;
}


/*PRINCIPAL*/
#principal{
    float: left;
    width: auto;
    height: auto;
    background: white;
    border-radius: 0px;
    /*box-shadow: 0px 0px 5px #ccc;*/
    margin-left: 0px;
    padding: 2px;
    overflow: hidden;
}

#principal a{
    color: #333;
}

#principal h1{
    font-size: 35px;
    color: black;
    letter-spacing: 0px;
    font-family: -webkit-pictograph;
    text-decoration: underline;
}

#principal h2{
    font-size: 25px;
    color: #1c1c1c;
    font-family: -webkit-pictograph;
    margin-top: 12px;
}

#principal p{
    margin-top: 8px;
}

/*INTERFAZ #1*/
#informacionUno{
    clear: both;
    float: left;
    width: 50%;
    height: auto;
    font-size: large;
}

#imagenUno{
    float: right;
    width: auto;
    height: auto;
}

#imagenDos{
    clear: both;
    float: left;
    width: auto;
    height: auto;
    padding-top: 12px;
}

#informacionDos{
    float: right;
    width: 50%;
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: large;
}

#ver-todas a{
    display: block;
    border-radius: 3px;
    padding: 15px;
    color:white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor:pointer;
    width: 160px;
    margin: 0px auto;
    margin-top:50px;
}

/*PIE DE PAGINA*/
#pie{
    clear: both;
    float: left;
    width: auto;
    height: auto;
    background: transparent; /* linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%) */
    /*border: 1px solid #c9c9c9;*/
    /*border-radius: 8px 8px 0px 0px;*/
    color: #2f2f2f;
    padding: 26px 40px;
}

#contactosRedes{
    float: left;
    width: auto;
    height: auto;
    padding-right: 100px;
}

#contactos{
    float: left;
    width: auto;
    height: auto;
    padding-right: 238px
}

#redesSociales{
    float: left;
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 60px
}

#derechos{
    clear: both;
    width: auto;
    height: auto;
}

#companyLogo{
    float: left;
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-left: 95px;
}

/*TABLAS DE LOS PRODUCTOS*/
.tablas{
    float: left;
    width: auto;
    height: auto;
    font-size: large;
    padding-top: 10px;
}

#tabla1{
    float: left;
    width: auto;
    height: auto;
}

#tabla1 table{
    border: none;
}

#tabla1 table tr{
    border: none;
}

#tabla1 table tr td{
    border: none;
}

#tabla2{
    float: left;
    width: auto;
    height: auto;
}

#tabla2 table{
    border: none;
}

#tabla2 table tr{
    border: none;
}

#tabla2 table tr td{
    border: none;
}

/*ESTILOS DE LAS FILAS Y COLUMNAS*/
.colorRojo{
    color: red;
}

.big{
    font-size: larger;
    font-weight: bold;
}
