
/* Hoja de estilos para el Log-in */

* {
    margin: 0px;
    padding: 0px;
}

/* Propiedades generales */
body {
    width: auto;
    height: auto;
    background: transparent;
}

/* Cabecera del inicio */
.cabecera {
    border-bottom: 4px solid #d1d1d1;
    border-top: 4px solid #d1d1d1;
    padding: 30px 50px;
    width: auto;
    height: auto;
    text-align: center;
    background: #e3e2e2;
}

.cabecera input[type='submit'] {
    width: 200px;
    height: 50px;
    font-size: x-large;
    background: #e134d1;
    border: 2px solid #980088;
    border-radius: 10px;
}

.cabecera input[type='submit']:hover {
    border: 3px solid #db4ce0;
    border-radius: 12px;
    background: #b62eaa;
    cursor: pointer;
}

.cabecera input[type='submit']:active {
    background: #b839bc;
    color: #c1a8a8;
}

/* Cuerpo del inicio */
#Log_in {
    margin: 15px 50px;
    padding: 15px 50px;
    width: auto;
    height: auto;
    text-align: center;
}

#Log_in table{
    display: inline-table;
    font-size: larger;
}

#Log_in input[type='text'], input[type='number'],
input[type='password'], input[type='date'],
input[type='email'], input[type='submit'] {
    font-size: large;
}

#Log_in input[type='date'] {
    width: -webkit-fill-available;
}

.Espacio {
    padding: 6px 0px 6px;
}

.EspacioBoton {
    padding: 15px;
}

#BotonRegistrar {
    width: 120px;
    height: 40px;
    font-size: larger;
    background: #39a0f7;
    border: 2px solid #3950f7;
    border-radius: 20px;
}

#BotonRegistrar:hover {
    border: 3px solid #062da7;
    background: #1589d4;
    cursor: pointer;
}

#BotonRegistrar:active {
    background: #0fade9;
    color: #c8dfe7;
}

#BotonIniciarSesion {
    width: 160px;
    height: 40px;
    font-size: larger;
    background: #46e746;
    border: 2px solid #07ac4d;
    border-radius: 20px;
}

#BotonIniciarSesion:hover {
    border: 3px solid #079a0b;
    background: #64dc30;
    cursor: pointer;
}

#BotonIniciarSesion:active {
    background: #1fd125;
    color: #cee7be;
}

/* Pie de página del inicio */
#pie {
    border-top: 4px solid #d1d1d1;
    border-bottom: 4px solid #d1d1d1;
    padding: 28px 50px;
    width: auto;
    height: auto;
    text-align: center;
    background: #e3e2e2;
}
